
body{
    item-align:center;
    margin: 0 auto;
    padding: 0;

    height: auto;
    font-family: 'Times New Roman', Times, serif;
}
.green-text-button {
  font-size: 18px;

  color: green;
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.green-text-button:hover {
  background-color: lightgreen;
  color: white;
}
